.container {
  position: relative;
  top: 25px;
  left: 200px;
  width: 70%;
  height: 600px;
  text-align: center;
  background-color: #4f6c0e;
  border: solid;
  border-radius:15px;
  box-shadow:30px 30px rgba(245, 245, 245, 0.416);
  
}

.dice {
  text-align: center;
  display: inline-block;

}
.head{
  text-align: center;
  color: #EEEEEE;
}

body {
  background-color: #320d23;
}

h1 {
  margin: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 5px 0 rgba(255, 255, 255, 0.612);
  font-size: 6rem;
  color: #381f11;
}

p {
  font-size: 2rem;
  color: #030438;
  font-family:monospace;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family:sans-serif;

}
